/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    opacity: 1;
    position: fixed;
    width: 100%;
    padding-left: 5%;

}
.header a:hover{
    transform: scale(1.2,1.2);
    transition: all 1s ease-out;
}
.logo{
    width: 150px;
}
.title{
    width: 60%;
    line-height: 99px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title a:hover{
    color: rgb(26,216,211);
}
.font{
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: "Noto Sans TC";
}
.search{
    width: 18px;
}
.textgo{
    width: 78px;
    position: fixed;
    right: 0;
    top: 400px;
    opacity: 0.7;
    transition: transform 3s ease;
}
.textgo:hover{
    cursor: pointer;
    transform: translateY(-50%);
}
@keyframes textgoup {
    form{
        top: 400px;
    }
    to{
        top: 200px;
    }
}




.bg1{
    max-width: 1519px;
    height: 710px;
    background-image: url(https://frankyeah.github.io/Front-Enter/images/key-visual.jpg);
    background-position: top;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg1word1{
    text-align: center;
    color: white;
    font-size: 38px;
    font-family: "Noto Sans TC";
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 6px;  
}
.bg1word1:hover{
    transform: rotate(-5deg);
}
.bg1word2{
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: "Noto Sans TC";
    letter-spacing: 12px;
    margin-top: 8px;
}
.arrow{
    display: block;
    margin: 0 auto;
    transform: rotate(90deg);
    width: 20px;
    padding-left: 400px;
    animation: toggle 0.3s alternate infinite;
}
@keyframes toggle {
    to {
      transform: translateY(10px) rotate(90deg);
    }
  }

.bg2{
    max-width: 1519px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(https://frankyeah.github.io/Front-Enter/images/second-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}
.bg2word1{
    padding-top: 250px;
    color: white;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
.bg2word2{
    color: white;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
.btn{
    width: 128px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(26,216,211);
    border-radius: 5px;
    background: transparent;
    color: rgb(26,216,211);
    margin-top: 20px;
    
}
.bg2 a{
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.3,1.3);
    transition: all 1s ease-out;
    cursor: pointer;
}


.bg3{
    max-width: 1519px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(https://frankyeah.github.io/Front-Enter/images/third-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}
.bg3word1{
    padding-top: 180px;
    color: white;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
}
.course{
    width: 228px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
    margin-left: 630px;
    border: 1px solid rgb(26,216,211);
    border-radius: 5px;
    background: transparent;
    color: rgb(26,216,211);
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.bg3 a{
    text-decoration: none;
}
.course:hover{
    transform: scale(1.3,1.3);
    color: rgba(26, 216, 210, 0.521);
    transition: all 1s ease-out;
    cursor: pointer;
}

.bg4{
    max-width: 1519px;
    height: 750px;
    background-image: url(https://frankyeah.github.io/Front-Enter/images/15.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    background-image: url(https://frankyeah.github.io/Front-Enter/images/FE_white.png);
    width: 336px;
    height: 445px;
    margin-right: 20px;
    position: relative;
}
.triangle{
    margin-left: 91%;
    margin-top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 0 30px;
    border-color: transparent transparent transparent rgb(26,216,211);
    position: absolute;
}
.pen{
    width: 40px;
    margin-left: 53%;
    margin-top: 80px;
}
.search1{
    margin-left: 50%;
    margin-top: 30px;
    font-size: 24px;
    color: rgb(26,216,211);
}
.border{
    margin-left: 50%;
    margin-top: 30px;
    width: 48px;
    border: 1px solid rgb(26,216,211);
    padding: 0.5px;
}
.text{
    margin-left: 20%;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
}
.school{
    margin-left: 40%;
    margin-top: 30px;
    width: 120px;
    font-size: 18px;
    background: rgb(26,216,211);
    border: 1px solid rgb(26,216,211);
    border-radius: 5px;
    color: white;
}
.school:hover{
    color:rgb(207, 206, 206);
    cursor: pointer;
}
.pen2{
    width: 40px;
    margin-left: 51%;
    margin-top: 80px;
}
.search2{
    margin-left: 45%;
    margin-top: 30px;
    font-size: 24px;
    color: rgb(26,216,211);
}
.border2{
    margin-left: 48%;
    margin-top: 30px;
    width: 48px;
    border: 1px solid rgb(26,216,211);
    padding: 0.5px;
}
.text2{
    margin-left: 15%;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
}
.school2{
    margin-left: 40%;
    margin-top: 30px;
    width: 120px;
    font-size: 18px;
    background: rgb(26,216,211);
    border: 1px solid rgb(26,216,211);
    border-radius: 5px;
    color: white;
}
.school2:hover{
    color: rgb(207, 206, 206);
    cursor: pointer;
}


.bg5{
    max-width: 1519px;
    height: 700px;
    background-image: url(https://frankyeah.github.io/Front-Enter/images/five-img.jpg);
    background-position: bottom;
    margin-bottom: 10px;
}
.bg5word1{
    padding-top: 370px;
    color: white;
    font-size: 24px;
    text-align: center;
    
}
.bg5word2{
    width: 20px;
    border: 1px solid white;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 1px;
    margin-left: 49.25%;
}
.bg5word3{
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.bg5word4{
    margin-top: 16px;
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}


.button{
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    width: 36px;
}
.top:hover{
    transform: scale(1.3,1.3);
    transition: all 1s ease-out;
    cursor: pointer;
}

.footer{
    background: #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.contant{
    font-size: 13px; 
}
.phone{
    font-size: 13px;
    color: rgb(26,216,211);
}
.number{
    color: #000;
    padding-left: 24px;
    letter-spacing: 4px;
}
.mail{
    font-size: 13px;
    color: rgb(26,216,211);
}
.email{
    color: #000;
    padding-left: 24px;
    letter-spacing: 4px; 
}
.fb{
    width: 30px;
    margin-right: 5px;
}
.line{
    width: 30px;
}

@media (max-width: 479px){
    .header{
        display: flex;
        justify-content: space-evenly;
    }
    .title{
        width: 200px;
    }
    .bg2{
        background-attachment: none;
    }
    .bg4{
        display: flex;
        flex-wrap: wrap;
    }
    .frame{
        width: 224px;
        height: 336px;
    }
    .triangle{
        margin-left: 88%;
        margin-top: 50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 0 30px;
        border-color: transparent transparent transparent rgb(26,216,211);
        position: absolute;
    }
    .pen{
        width: 30px;
        margin-top: 60px;
        margin-left: 55%;
    }
    .search1{
        font-size: 16px;
        margin-top: 20px;
        margin-left: 55%;
    }
    .border{
        margin-top: 20px;
    }
    .text{
        font-size: 14px;
        text-align: center;
        padding-left: 20px;
    }
    .school{
        font-size: 14px;
        margin-left: 35%;
    }
    .pen2{
        width: 30px;
        margin-top: 60px;
        margin-left: 55%;
    }
    .search2{
        font-size: 16px;
        margin-top: 20px;
        margin-left: 50%;
    }
    .border2{
        margin-top: 20px;
    }
    .text2{
        font-size: 14px;
        text-align: center;
        padding-left: 20px;
    }
    .school2{
        font-size: 14px;
        margin-left: 35%;
    }
    .bg5word3{
        text-align: left;
        padding-left: 24px;
        padding-right: 21px;
    }
    .bg5word3 br{
        content: "";
        display: none;
    }
    .bg5word4{
        text-align: left;
        padding-left: 24px;
        padding-right: 21px;
    }
    .bg5word4 br{
        content: "";
        display: none;
    }
    .bg5word2{
        margin-left: 48%;
    }
    .footer{
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .textgo{
        width: 78px;
        position: fixed;
        right: 0;
        top: 350px;
        opacity: 0.7;
    }
}