.about{
    background: url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 700px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:flex-end;
    transition: 0.8s;
}

.about:hover{
    height: 720px;
}



.about .about_title{
    color: white;
    font-size: 24px;
    margin: 16px;
}

.about .about_detail{
    color: white;
    font-size: 18px;
    width: 580px;
    text-align: left;
    line-height: 28px;
}

.about ._line{
    border: solid 1px white;
    width: 24px;
    margin: 0;
}

.about .about_detail.margin_bottom{
    margin-bottom: 120px;
}

@media(max-width: 767px){
    .about{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                    url("../images/about.jpg");
    }
    .about .about_detail{
        width: 80%;
    }
}