.course{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../images/class.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    height: 600px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.course .course_title{
    color: white;
    font-size: 22px;
    margin: 8px 0 ;
    letter-spacing: 3px;
}
.course .course_btn{
    font-size: 18px;
    border: solid 1px rgb(26, 216, 211);
    width: 180px;
    text-align: center;
    padding: 4px 24px;
    border-radius: 6px;
    cursor: pointer;
}

.course .course_btn > a{
    color: rgb(26, 216, 211);
    text-decoration: none;
}