/* infomation css */
.infomation{
    background: url(../images/information.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
    position: relative;
    
}

.infomation .information_content{
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.infomation .information_content .infoTitle{
    font-size: 36px;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0;
}

.infomation .information_content .infoTitle:hover{
    transform: rotate(-5deg);
}

.infomation .information_content .infoDetail{
    font-size: 24px;
    letter-spacing: 8px;
    margin: 8px;
}

.infomation ._next{
    background: url(../images/next.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    transform:rotate(90deg);
    position: absolute;
    left: 50%;
    bottom: 15%;
    animation: arrowUpDownMove 0.3s infinite alternate;
}

/* arrowUpDownMove animation */
@-webkit-keyframes arrowUpDownMove{
    from{bottom: 15%;}
    to{bottom: 16.5%;}
}

@keyframes arrowUpDownMove{
    from{bottom: 15%;}
    to{bottom: 16.5%;}
}

@-moz-keyframes arrowUpDownMove{
    from{bottom: 15%;}
    to{bottom: 16.5%;}
}

@-o-keyframes arrowUpDownMove{
    from{bottom: 15%;}
    to{bottom: 16.5%;}
}

@media(max-width: 767px){
    .infomation{
        height: 480px;
    }
    .infomation .information_content .infoTitle{
        font-size: 26px;
    }
    .infomation .information_content .infoDetail{
        font-size: 18px;   
    }
}

/* test css */
.test{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/test.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-attachment: fixed;
    height: 600px;

    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.test:hover{
    height: 640px;
}


.test .test_detail{
    color: white;
    text-align: center;
    margin: 8px;
    letter-spacing: 3px;
}

.test .test_btn{
    color: rgb(26, 216, 211);
    border: solid 1px;
    width: 80px;
    text-align: center;
    padding: 6px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

.test .test_btn:hover{
    padding: 8px 26px;
    font-size: 20px;
    width: 88px;
}

@media(max-width: 767px){
    .test{
        font-size: 16px;
    }
}

/* course css  */
.course{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../images/class.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    height: 600px;
    transition: 0.8s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.course:hover{
    height: 640px;
}

.course .course_title{
    color: white;
    font-size: 22px;
    margin: 8px 0 ;
    letter-spacing: 3px;
}
.course .course_btn{
    font-size: 18px;
    border: solid 1px rgb(26, 216, 211);
    width: 180px;
    text-align: center;
    padding: 4px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.8s;
}

.course .course_btn:hover{
   padding: 6px 26px; 
    width: 188px;
    font-size: 20px;
}

.course .course_btn > a{
    color: rgb(26, 216, 211);
    text-decoration: none;
}

/* search css */
.search{
    background: url("../images/search.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    transition: 0.8s;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search:hover{
    height: 840px;
}

.search .search_card{
    background: url("../images/search_card.png");
    background-size: cover;
    background-position: center;
    width: 336px;
    height: 445px;
    margin: 0 8px;

    position: relative;
}

.search .search_card .search_card_container{
    position: absolute;
    top: 88px;
    left: 72px;

}

.search .search_card .search_card_icon{
    width: 42px;
    height: 42px;
    position: absolute;    
    left: 72px;
    top: -30px;
    cursor: pointer;
}

.search .search_card .search_card_icon:hover{
    opacity: 0.8;
}

.search .search_card .search_card_content{
    text-align: center;
}

.search .search_card .search_card_content.title{
    color: rgb(26, 216, 211);
    font-size: 24px;
}

.search .search_card .search_card_content.detail{
    letter-spacing: 2px;
    line-height: 32px;
}

.search .search_card .search_card_content.btn{
    background-color: rgb(26, 216, 211);
    padding: 8px 24px;
    border-radius: 8px;
    width: 80px;
    margin: 32px auto;
}

.search .search_card .search_card_content > a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.search .search_card .search_card_content > a:hover{
    opacity: 0.7;
}

.search_card ._line{
    border: solid 1px rgb(26, 216, 211);
    width: 48px;
    margin: auto;
}

@media(max-width: 767px){
    .search{
        display: flex;
        flex-direction: column;
    }

    .search .search_card{
        width: 224px;
        height: 336px;
        margin: 8px;
    }

    .search .search_card .search_card_container{
        top: 24%;;
        left: 18%;

    }
    .search .search_card .search_card_icon{
        width: 32px;
        height: 32px;
        left: 36%;
        top: -36px;
    }
    .search .search_card .search_card_content.title{
        font-size: 16px;

    }
    .search .search_card .search_card_content.detail{
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
    }
    .search .search_card .search_card_content.btn{
        width: 48px;
/*                        margin: 8px auto;*/
        padding: 8px 16px;
    }
    .search .search_card .search_card_content > a{
        font-size: 14px;
    }
    .search_card ._line{
        width: 32px;
    }

}



/* about css */
.about{
    background: url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 700px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content:flex-end;
    transition: 0.8s;
}

.about:hover{
    height: 720px;
}

.about .about_title{
    color: white;
    font-size: 24px;
    margin: 16px;
}

.about .about_detail{
    color: white;
    font-size: 18px;
    width: 580px;
    text-align: left;
    line-height: 28px;
}

.about ._line{
    border: solid 1px white;
    width: 24px;
    margin: 0;
}

.about .about_detail.margin_bottom{
    margin-bottom: 120px;
}

@media(max-width: 767px){
    .about{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                    url("../images/about.jpg");
    }
    .about .about_detail{
        width: 80%;
    }
}


