.login_layout{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(192, 192, 192, 0.3);
}


.login_layout .login_container{
    background-color: white;
    width: 350px;
    height: 430px;
    letter-spacing: 3px;
}

.login_layout .login_container .login_card{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.login_layout .login_container .login_card .login_img{
    background: url(../images/login_img.png);
    width: 225px;
    height: 105px;
    background-size: cover;
}

.login_layout .login_container .login_card .input_container{
    width: 73%;
    height: 16%;
    margin: 8px auto;
}

.login_layout .login_container .login_card .input_container .login_input{
    width: 100%;
    height: 50%;
    border: rgb(128, 128, 128) solid 0.5px;
    font-size: 16px;
    letter-spacing: 3px;
    padding-left: 4px;
}

.login_layout .login_container .login_card .input_container .login_input.email{
    border-bottom: none;
}

.login_layout .login_container .login_card .input_container .login_forget{
    text-align: right;
    margin: 16px 0;
    cursor: pointer;
    color: rgb(128, 128, 128);
}

.login_layout .login_container .login_card .register_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top: 48px;
}

.login_layout .login_container .login_card .register_container .register_container_btn{
    width: 110px;
    height: 38px;
    background-color: rgb(26,216,211);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

.login_layout .login_container .login_card .login_gmail{
    width: 250px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(217, 48, 37);
    border-radius: 8px;
    color: white;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    margin: 0 0 32px 0;
}

/* log alert box */
.alert_box_layout{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    top:0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert_box_layout .alert_box{
    width: 300px;
    height: 180px;
    background-color: white;
    z-index: 10;
    border-radius: 6px;
    letter-spacing: 3px;
}

.alert_box_layout .alert_box .alert_title{
    font-size: 24px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.alert_box_layout .alert_box .alert_index{
    font-size: 15px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.alert_box_layout .alert_box .alert_btn{
    color: white;
    width: 30%;
    background-color: rgb(26, 216, 211);
    text-align: center;
    margin: 0 auto;
    padding: 6px;
    border-radius: 6px;
}

.alert_box_layout .alert_box .alert_btn:hover{
    cursor: pointer;
}
