.top{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.top .top_btn{
    width: 36px;
    height: 46px;
    cursor: pointer;
    transition: 0.8s;
}

.top .top_btn:hover{
    width: 50px;
    height: 60px;
}

@media(max-width: 767px){
    .top{
        height: 120px;
    }  
}